@import '@app/theme.scss';

.brandCardContainer {
	margin-top: 3rem;
}

.brandCard {
	transition: $transition;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	padding: 0.5rem;

	max-width: 100%;
	display: block;

	text-decoration: none;

	&:hover {
		transform: scale($scale-hover);
	}

	@include responsive(mobile) {
		&:hover {
			transform: none;
		}
	}

	@include responsive(tablet) {
		&:hover {
			transform: none;
		}
	}

	&__image {
		width: 100%;
		height: auto;
	}

	&__cell {
		cursor: pointer;

		&:hover {
			background: transparent;
		}
	}
}
