@import '@app/theme.scss';

.brandCardContainer {
	margin-top: 3rem;
}

.brandCard {
	width: 100%;
	height: 18rem;
	display: block;
	position: relative;

	border-radius: 4rem;
	transition: $transition;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	max-width: 100%;
	text-decoration: none;

	&:hover {
		transform: scale($scale-hover);
	}

	&__image {
		border-radius: inherit;
	}

	&__cell {
		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		position: absolute;
		bottom: 0;
		background: var(--tgui--tertiary_bg_color);
		border-radius: 0 0 4rem 4rem;
		padding: 0.8rem;
		box-sizing: border-box;
	}
}
