.checkout {
	padding: 2rem 1rem;

	&__title {
		margin-bottom: 2rem;
		text-transform: capitalize;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}
}
