@import 'variables';
@import 'mixins';

.container {
	padding: $container-padding;

	@include responsive(laptop) {
		padding: 0.5rem 3rem;
	}

	@include responsive(desktop) {
		padding: 0.5rem 3rem;
	}
}
