$core-outline-width: 0.1rem;
$core-outline-offset: 0.1rem;
$container-padding: 1rem;

$icon-button-bg-color: 'transparent';
$icon-button-hover-bg-color: #d6d6d6;

.container {
	padding: $container-padding;
}
