$core-outline-width: 0.1rem;
$core-outline-offset: 0.1rem;
$container-padding: 0 1rem;

// FONT

$font-weight-title: 400;

// sm

$font-size-title-sm: 3rem;
$font-size-product-title-sm: 1.6rem;
$font-size-product-price-sm: 1.2rem;
$font-size-product-description-sm: 1.2rem;

// md

$font-size-title-md: 3rem;
$font-size-product-title-md: 1.6rem;
$font-size-product-price-md: 1.2rem;
$font-size-product-description-md: 1.2rem;

// lg

$font-size-title-lg: 4rem;
$font-size-product-title-lg: 1.6rem;
$font-size-product-price-lg: 1.2rem;
$font-size-product-description-lg: 1.2rem;

// xl

$font-size-title-xl: 5rem;
$font-size-product-title-xl: 1.8rem;
$font-size-product-price-xl: 1.2rem;
$font-size-product-description-xl: 1.2rem;

$scale-hover: 1.02;

$transition: 0.3s ease;
