$core-outline-width: 0.1rem;
$core-outline-offset: 0.1rem;
$container-padding: 0 1rem;

// FONT

$font-weight-title: 400;

// sm

$font-size-title-sm: 3rem;

// md

$font-size-title-md: 3rem;

// lg

$font-size-title-lg: 4rem;

// xl

$font-size-title-xl: 5rem;

$scale-hover: 1.02;

$transition: 0.3s ease;
