:root {

    /* core */

    --core-outline-width: 0.1rem;
    --core-outline-offset: 0.1rem;

    --theme-outline-color: #178fe5;

    /* button */

    --button-large-min-width: 8rem;
    --button-large-gap: 0.6rem;
    --button-large-min-height: 3.2rem;
    --button-large-padding-block-end: 0.5rem;
    --button-large-padding-inline-end: 1.6rem;
    --button-large-padding-block-start: 0.5rem;
    --button-large-with-icon-min-width: 10rem;
    --button-large-padding-inline-start: 1.6rem;
    --button-large-with-two-icons-min-width: 12rem;
    --button-large-text-padding-block-end: 0rem;
    --button-large-text-padding-block-start: 0rem;
    --button-medium-min-width: 5.5rem;
    --button-medium-gap: 0.4rem;
    --button-medium-min-height: 2.6rem;
    --button-medium-padding-block-end: 0.4rem;
    --button-medium-padding-inline-end: 1.2rem;
    --button-medium-padding-block-start: 0.4rem;
    --button-medium-with-icon-min-width: 7.5rem;
    --button-medium-padding-inline-start: 1.2rem;
    --button-medium-with-two-icons-min-width: 9.5rem;
    --button-medium-text-padding-block-end: 0rem;
    --button-medium-text-padding-block-start: 0rem;
    --button-small-gap: 0.2rem;
    --button-small-min-width: 3.9rem;
    --button-small-min-height: 2rem;
    --button-small-padding-block-end: 0.2rem;
    --button-small-padding-inline-end: 0.6rem;
    --button-small-padding-block-start: 0.2rem;
    --button-small-with-icon-min-width: 5.5rem;
    --button-small-padding-inline-start: 0.6rem;
    --button-small-with-two-icons-min-width: 6.7rem;
    --button-small-text-padding-block-end: 0rem;
    --button-small-text-padding-block-start: 0rem;
    --button-border-width: 0.1rem;
    --button-large-border-radius: 0.2rem;
    --button-medium-border-radius: 0.2rem;
    --button-small-border-radius: 0.2rem;
    --button-large-font-size: 0.9rem;
    --button-medium-font-size: 0.9rem;
    --button-small-font-size: 0.7rem;
    --button-font-family: 'IBM Plex Sans';
    --button-large-font-weight: 500;
    --button-large-line-height: 1.8rem;
    --button-medium-font-weight: 500;
    --button-small-font-weight: 500;
    --button-medium-line-height: 1.6rem;
    --button-small-line-height: 1.4rem;

    --button-primary-default-bg-color: #141414;
    --button-primary-hover-bg-color: #333333;
    --button-primary-active-bg-color: #141414;
    --button-primary-default-border-color: #141414;
    --button-primary-hover-border-color: #333333;
    --button-primary-active-border-color: #141414;
    --button-primary-text-color: #fff;
    --button-primary-icon-color: #fff;
    --button-primary-disabled-bg-color: #d7dbe1;
    --button-primary-disabled-border-color: #cfd4db;
    --button-primary-disabled-text-color: #8591a3;
    --button-primary-disabled-icon-color: #8591a3;
    --button-secondary-default-bg-color: transparent;
    --button-secondary-hover-bg-color: #f3f3f3;
    --button-secondary-active-bg-color: transparent;
    --button-secondary-default-border-color: #d6d6d6;
    --button-secondary-hover-border-color: #141414;
    --button-secondary-active-border-color: #141414;
    --button-secondary-text-color: #141414;
    --button-secondary-icon-color: #141414;
    --button-secondary-disabled-bg-color: #d7dbe1;
    --button-secondary-disabled-border-color: #cfd4db;
    --button-secondary-disabled-text-color: #8591a3;
    --button-secondary-disabled-icon-color: #8591a3;
    --button-tertiary-default-bg-color: transparent;
    --button-tertiary-hover-bg-color: #f3f3f3;
    --button-tertiary-active-bg-color: #d7d7d7;
    --button-tertiary-default-border-color: transparent;
    --button-tertiary-hover-border-color: #b2b1ae;
    --button-tertiary-active-border-color: #b2b1ae;
    --button-tertiary-text-color: #1d1d1d;
    --button-tertiary-icon-color: #1d1d1d;
    --button-tertiary-disabled-bg-color: #d7dbe1;
    --button-tertiary-disabled-border-color: #cfd4db;
    --button-tertiary-disabled-text-color: #8591a3;
    --button-tertiary-disabled-icon-color: #8591a3;
    --button-success-default-bg-color: #1e8a1e;
    --button-success-hover-bg-color: #4ba046;
    --button-success-active-bg-color: #1b7b1b;
    --button-success-default-border-color: #1e8a1e;
    --button-success-hover-border-color: #4ba046;
    --button-success-active-border-color: #184518;
    --button-success-text-color: #ffffff;
    --button-success-icon-color: #ffffff;
    --button-success-disabled-bg-color: #d7dbe1;
    --button-success-disabled-border-color: #cfd4db;
    --button-success-disabled-text-color: #8591a3;
    --button-success-disabled-icon-color: #8591a3;
    --button-danger-default-bg-color: #b6200f;
    --button-danger-hover-bg-color: #c14d3c;
    --button-danger-active-bg-color: #9d1e10;
    --button-danger-default-border-color: #ae1100;
    --button-danger-hover-border-color: #c14d3c;
    --button-danger-active-border-color: #ae1100;
    --button-danger-text-color: #ffffff;
    --button-danger-icon-color: #ffffff;
    --button-danger-disabled-bg-color: #d7dbe1;
    --button-danger-disabled-border-color: #cfd4db;
    --button-danger-disabled-text-color: #8591a3;
    --button-danger-disabled-icon-color: #8591a3;
}