@import '@/utils/styles/mixins.scss';
@import '@/utils/styles/variables.scss';

.shopCardContainer {
	margin-top: 3rem;
}

.shopCard {
	transition: $transition;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	padding: 0.5rem;

	max-width: 100%;
	display: block;

	text-decoration: none;
	color: inherit;

	&:hover {
		transform: scale($scale-hover);
	}

	@include responsive(mobile) {
		&:hover {
			transform: none;
		}
	}

	@include responsive(tablet) {
		&:hover {
			transform: none;
		}
	}

	&__image {
		border-radius: inherit;
		min-height: 15rem;
		width: 100%;
	}

	&__title {
		@include font-size(1.5rem, 700);

		margin-top: 0.2rem;
	}
}
