@import '../utils/styles/mixins';
@import '../utils/styles/variables';
@import '../utils/styles/tokens/light/lightTheme';

.brands {
	&__title {
		margin-bottom: 2rem;
		@include font-size($font-size-title-sm, $font-weight-title);
		text-align: center;
		color: $core-text-color;
	}

	@include responsive(tablet) {
		&__title {
			@include font-size($font-size-title-md, $font-weight-title);
		}
	}

	@include responsive(laptop) {
		&__title {
			@include font-size($font-size-title-lg, $font-weight-title);
		}
	}

	@include responsive(desktop) {
		&__title {
			@include font-size($font-size-title-xl, $font-weight-title);
		}
	}
}

.main {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 5px);
	padding-bottom: 3rem;

	&__wrapper {
		display: flex;
		flex-direction: column;
		flex: 1 1 0;
		height: 100%;
	}
}

.home {
	&__overlay {
		position: absolute;
		bottom: -5px;
		width: 100%;
		height: 50%;
		background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 55%, rgba(0, 0, 0, 0) 100%);
		z-index: 100;
		padding-top: 12rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&__title {
		@include font-size($font-size-title-lg, $font-weight-title);
	}

	&__caption {
		@include font-size($font-size-caption-md);
	}

	&__title,
	&__caption {
		color: #fff;
	}
}
